<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <p>Knowing the weather is something that we all pretty much need to know. Smartphone weather apps and weather widgets have been steadily improving over the years. They work better, have more detailed and accurate information, and the weather widgets look better with whatever theme you happen to be using</p>
     {{>footer}}
</body>
</html>